<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>


  <style>
    body {
      background-color: #007bff;
    }

    @media only screen and (max-width: 600px) {
      body {
        font-size: 120%;
      }
    }

    .slidecontainer {
      width: 100%;
    }

    .slider {
      -webkit-appearance: none;
      width: 80%;
      height: 25px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    .slider:hover {
      opacity: 1;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      background: #007bff;
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: #007bff);
      cursor: pointer;
    }

    .center {
      margin: auto;
      width: 100%;
    }
  </style>
</head>

<body>

  <div style="padding: 15px;">
    <h3 class="center" style="text-align: center; color:snow;">Adjust time zones</h3>
  </div>

  <div class="jumbotron " style="padding-top: 10px; border-radius: 0px;">


    <form method="POST" oninput="range1value.value = range1.valueAsNumber" class="center">

      <div class="form-group text_area">

        <textarea name="text" rows="8"
          placeholder="1. Copy your email text in here. 2. Use the slider to chose how many hours you want to add 3. All times in am/pm format and 24h format will be converted, e.g. I can meet you at 4:30 pm -> I can meet you at 6:30 pm. Enjoy! :)"
          required style="width:100%; padding: 10px; border-radius: 4px;">{{processed_text}}</textarea>

        <div class="row">
          <div class="col-8">
            <input name="range1" type="range" step="1" min="-12" max="12" value="1" class="slider">
          </div>
          <div class="col">
            <output name="range1value" for="range1" style="padding-left: 10px">1</output>
          </div>

        </div>

        <div class="center" style="margin-top: 10px;">

          <input type="submit" class="btn btn-primary btn-block" value="Change times" style="border-radius: 0px;">

        </div>
      </div>
    </form>

  </div>



</body>

</html>